.left-sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgb(0 0 0 / 25%);
  background-color: var(--bg-secondary);
  padding: 20px;
  width: var(--sidebar-left-width);
  color: var(--font-color-primary);
}

.sidebar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-menu li {
  transition:
    background-color 0.3s,
    color 0.3s;
  margin-bottom: 15px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
}

.sidebar-menu li:hover {
  background-color: var(--sidebar-li-hover-bg-color);
  color: var(--sidebar-li-hover-color);
}

.sidebar-menu li:active {
  background-color: var(--sidebar-li-active-bg-color);
  color: var(--sidebar-li-active-color);
}

.main-content {
  flex: 1;
  border-left: var(--border);
  box-shadow: -2px 0 5px rgb(0 0 0 / 20%);
  padding: 40px;
}

.main-content h1 {
  margin-bottom: 20px;
  border-bottom: 2px solid var(--highlight-color);
  padding-bottom: 10px;
  color: var(--font-color-purple);
  font-size: 24px;
}

.sidebar-footer {
  display: flex;
  margin-top: auto;
}
