.app-table {
  margin-top: 2rem;
  border-color: transparent;
  box-shadow: 0 4px 20px rgb(0 0 0 / 60%);
  background-color: var(--bg-secondary);
  width: 100%;
  overflow: hidden;

  th,
  td {
    padding: 1rem;
  }

  th {
    background-color: rgb(255 255 255 / 2%);
    text-align: left;
    color: var(--font-color-strong-white);
    font-size: 1.25rem;
    font-weight: 600;
  }

  td {
    color: var(--font-color-primary);
  }

  tr:nth-child(even) {
    background-color: rgb(255 255 255 / 2%);
  }

  tr:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: rgb(255 255 255 / 8%);
  }
}

.app-table-top-button {
  transition: color 0.2s ease-in-out;
  border: dashed;
  background-color: transparent;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  color: var(--font-color-primary);
  font-family: inherit;
  font-size: 24px;

  &:hover {
    color: var(--highlight-color);
  }
}
