.setting-config-box {
  background-color: #1f1f1f;
  padding: 1rem;
  margin-bottom: 1rem;
  /*todo not sure if i want this*/
  /*border-radius: 8px;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.settings-desc {
  color: #a1a1a1;
  margin-top: 0;
}

.setting-config-box.collapsed .content-inner {
  display: none;
}

.setting-config-box header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.setting-config-box header h4 {
  font-size: x-large;
  margin: 0;
  color: #ccc;
}

.toggle-btn {
  background: none;
  border: none;
  color: #888;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.toggle-btn:hover {
  color: #6a5acd;
}
