.setting-config-box {
  margin-bottom: 1rem;

  /* todo not sure if i want this */

  /* border-radius: 8px; */
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  background-color: #1f1f1f;
  padding: 1rem;
}

.settings-desc {
  margin-top: 0;
  color: #a1a1a1;
}

.setting-config-box.collapsed .content-inner {
  display: none;
}

.setting-config-box header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.setting-config-box header h4 {
  margin: 0;
  color: #ccc;
  font-size: x-large;
}

.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  color: #888;
  font-size: 1.3rem;
}

.toggle-btn:hover {
  color: #6a5acd;
}
