.modal-backdrop {
  display: flex;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgb(0 0 0 / 70%);
}

.modal-content {
  border-radius: 8px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 30%);
  background: var(--bg-secondary);
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow: auto;
  color: var(--font-color-primary);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 1rem;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  color: var(--font-color-secondary);
  font-size: 2rem;
}

.modal-close:hover {
  opacity: 0.7;
}

.modal-body {
  padding: 20px;
}
