:root {
  --bg-primary: #121212;
  --bg-secondary: #1a1a1a;
  --bg-tertiary: #2a2a2a;

  --bg-scrollbar: #2a2a2a;
  --bg-scrollbar-thumb: #9d7bd8;
  --bg-scrollbar-thumb-hover: #8a2be2;

  --bg-card-dark-green: linear-gradient(
    135deg,
    rgba(34, 197, 94, 0.1) 0%,
    rgba(34, 197, 94, 0.05) 100%
  );
  --bg-card-dark-red: linear-gradient(
    135deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(204, 0, 0, 0.1) 100%
  );

  --box-shadow-green: 0 4px 20px rgba(34, 197, 94, 0.15);

  --font-color-primary: #e0e0e0;
  --font-color-secondary: #b0b0b0;
  --font-color-strong-white: #f5f5f5;
  --font-color-purple: #9d7bd8;

  --highlight-color: #9d7bd8;
  --highlight-color-dark: #6a5acd;
  --color-green: #22c55e;
  --color-red: #ef4444;

  --border-color: #2c2c2c;
  --border-color-green: #22c55e;
  --border-color-red: #ef4444;
  --border-color-dark-red: rgba(255, 0, 0, 0.3);

  --border: 1px solid var(--border-color);
  --border-green-bold: 2px solid var(--border-color-green);
  --border-dark-red: 1px solid var(--border-color-dark-red);

  --font-family: "WDXL Lubrifont TC", sans-serif;

  /*Side Bar*/
  --sidebar-left-width: 250px;

  --sidebar-li-hover-bg-color: #323232;
  --sidebar-li-hover-color: white;

  --sidebar-li-active-bg-color: #9d7bd8;
  --sidebar-li-active-color: black;

  color-scheme: dark;
  background-color: var(--bg-primary);
  color: var(--font-color-primary);
  box-sizing: border-box;
  font-family: var(--font-family), sans-serif;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
