.stats-section {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--highlight-color);
  padding-bottom: 2rem;
}

.basic-stat-item {
  flex: 1;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 20px rgb(0 0 0 / 60%);
  background-color: var(--bg-secondary);
  padding: 1rem;
}

.basic-stat-item h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.basic-stat-item p {
  margin-top: auto;
  margin-bottom: 0;
  text-align: right;
  font-size: 48px;
}

.basic-stat-item p.green {
  color: var(--color-green);
}

.basic-stat-item p.red {
  color: var(--color-red);
}

.stats-header-section {
  display: flex;
  align-items: center;

  h2 {
    margin-right: 60%;
  }

  label {
    margin-right: 1rem;
  }
}
